modules = ["nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 39537571
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd openai-server && node server.js"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "HTTPS=true npm start"
